body,
#root,
.app {
  margin: 0;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.debug {
  display: none !important;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.HUD {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.HUD * {
  margin: auto 20px;
  display: block;
}

main {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0 25px;
}

main div {
  margin: 10px auto;
}

button.UnitListing,
button.TerritoryListing {
  --color: black;
  background-color: white;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 5px;
}

button.UnitListing span {
  font-weight: bold;
  color: white;
  background-color: var(--color);
  border-radius: 10px;
  padding: 0.5px 3px;
  position: relative;
  right: 3px;
  top: 0.4px;
}

.UnitShelf button.available {
  --color: limegreen;
}

.UnitShelf button:not(.available) {
  color: lightgray;
  --color: lightgray;
}

.UnitCart button {
  --color: red;
}

.UnitInventory button {
  --color: skyblue;
}

.TerritoryDisplay .owned button {
  --color: black;
}

.TerritoryDisplay .bordering button {
  --color: gray;
}

.TerritoryDisplay .disconnected button {
  --color: lightgray;
}